/* Variables */
:root {
  --background: #1b1c17;
  --text: #e4e3db;
  --primary: #2c331c;
  --primary-light: #424a31;
  --primary-light-vibrant: #9bad72;
  --secondary: #023732;
}

body {
  background-color: var(--background);
  color: #e4e3db;
  margin: 0;
  padding-top: 70px;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  display: flex;
  column-gap: 50px;
}

nav ul {
  display: flex;
  column-gap: 50px;
  font-size: 20px;
}

#content {
  padding: 0 40px 20px;
}

.flex-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beverage-card {
  background-color: var(--primary);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px 0;
  min-width: 400px;
  box-shadow:
    0 4px 8px 0 rgba(0 0 0 / 20%),
    0 6px 20px 0 rgba(0 0 0 / 19%);
}

.beverage-card div:last-child {
  padding: 0 20px;
}

.beverage-card img {
  height: 100px;
}

.beverage-details{
  border: 1px solid var(--primary-light);
  padding: 20px;
}

.beverage-details img{
  max-height: 400px;
}

.beverage-details .details{
  margin-bottom: 10px;
}

.beverage-details .details span{
  font-weight: bold;
  color: var(--primary-light-vibrant);
}
