<div class="beverage-list">
  {{#if @firstVisit}}
    <div class="notice">Click on the button to show beverages</div>
  {{else}}
    {{#if @model}}
      {{#each @model as |beverage|}}
        <Beverage @beverage={{beverage}} @getBeverage={{@checkBev}}/>
      {{/each}}
    {{else}}
      <div class="notice">Issues loading data</div>
    {{/if}}
  {{/if}}


</div>
