<div class="beverage-list">
  {{#if @model.beverages}}
    {{#each @model.beverages as |beverage|}}
      <Beverage @beverage={{beverage}} @getBeverage={{@checkBev}}/>
    {{/each}}
  {{else}}
    <div>Issues loading data</div>
  {{/if}}
</div>
