{{page-title "Embers Beverages"}}

<nav>
  <h1>Embers Beverages</h1>
  <ul>
    <li><LinkTo class="menu-home" @route="beverages">&raquo; Beverages</LinkTo></li>
    <li><LinkTo class="menu-favs" @route="favorites">&raquo; Favorites</LinkTo></li>
  </ul>
</nav>
<div id="content">
  {{outlet}}
</div>
