{{page-title "Embers Beverages"}}

<nav>
  <h1>Embers Beverages</h1>
  <ul>
    <li><LinkTo @route="beverages">Beverages</LinkTo></li>
    <li><LinkTo @route="favourites">Favourites</LinkTo></li>
  </ul>
</nav>
<div id="content">
  {{outlet}}
</div>
