{{page-title "Embers Beverages"}}

<nav>
  <h1>Embers Beverages</h1>
  <ul>
    <li>Beverages</li>
    <li>Favourites</li>
  </ul>
</nav>
<div id="content">
  <div>
    <h1>Beverages</h1>
    <button type="button">Show 10 new beverages</button>
    <div class="flex-page">
      <div>
        <div class="beverage-card">
          <img src="#" alt="Beverage">
          <div>
            <h3>Name</h3>
            <p>Beverage tagline</p>
          </div>
        </div>
        <div class="beverage-card">
          <img src="#" alt="Beverage">
          <div>
            <h3>Name</h3>
            <p>Beverage tagline</p>
          </div>
        </div>
        <div class="beverage-card">
          <img src="#" alt="Beverage">
          <div>
            <h3>Name</h3>
            <p>Beverage tagline</p>
          </div>
        </div>
      </div>
      <div class="beverage-details">
        <img src="https://static.turbosquid.com/Preview/2014/05/21__18_28_46/1a.jpg8ee44e49-6527-430c-9d33-bfb9f2209b54Original.jpg" alt="Beverage">
        <h2>Name</h2>
        <p>Beverage description</p>
        <div class="details">
          <span>Volume: </span> Beverage volume and unit
        </div>
        <div class="details">
          <span>Goes well with: </span> Beverage food pairings
        </div>
        <div class="details">
          <span>Brewer's tips: </span> tips from brewer
        </div>
      </div>
    </div>
  </div>

  <div>
    <h1>Favourites</h1>
    <div class="flex-page">
      <div>
        <div class="beverage-card">
          <img src="#" alt="Beverage">
          <div>
            <h3>Name</h3>
            <p>Beverage tagline</p>
          </div>
        </div>
        <div class="beverage-card">
          <img src="#" alt="Beverage">
          <div>
            <h3>Name</h3>
            <p>Beverage tagline</p>
          </div>
        </div>
        <div class="beverage-card">
          <img src="#" alt="Beverage">
          <div>
            <h3>Name</h3>
            <p>Beverage tagline</p>
          </div>
        </div>
      </div>
      <div class="beverage-details">
        <img src="#" alt="Beverage">
        <h2>Name</h2>
        <p>Beverage description</p>
        <div class="details">
          <span>Volume: </span> Beverage volume and unit
        </div>
        <div class="details">
          <span>Goes well with: </span> Beverage food pairings
        </div>
        <div class="details">
          <span>Brewer's tips: </span> tips from brewer
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
