{{page-title "Favourites"}}

<div>
  <h1>Favourites</h1>
  <div class="flex-page">
    <div class="beverage-list">
      <div class="beverage-card">
        <img src="#" alt="Beverage">
        <div>
          <h3>Name</h3>
          <p>Beverage tagline</p>
        </div>
      </div>
      <div class="beverage-card">
        <img src="#" alt="Beverage">
        <div>
          <h3>Name</h3>
          <p>Beverage tagline</p>
        </div>
      </div>
      <div class="beverage-card">
        <img src="#" alt="Beverage">
        <div>
          <h3>Name</h3>
          <p>Beverage tagline</p>
        </div>
      </div>
    </div>
    <div class="beverage-details">
      <img src="#" alt="Beverage">
      <h2>Name</h2>
      <p>Beverage description</p>
      <div class="details">
        <span>Volume: </span> Beverage volume and unit
      </div>
      <div class="details">
        <span>Goes well with: </span> Beverage food pairings
      </div>
      <div class="details">
        <span>Brewer's tips: </span> tips from brewer
      </div>
    </div>
  </div>
</div>